<div class="row">
	<div class="col-12 col-md-4 text-justify">
		<div class="row text-center">
			<h1>{{'PROGRAMACION.Programacion'| translate}}</h1>
		</div>
		<p>{{'PROGRAMACION.El valor'| translate}}</p>
		<p>{{'PROGRAMACION.Ponemos'| translate}}</p>
		<div class="row">
			<div class="col-3">
				<img class="img-fluid"
					src="assets/img/productos/programacion_ccm/programacion_cmm.jpg"
					alt="" />
			</div>
			<div class="col-3">
				<img class="img-fluid"
					src="assets/img/productos/programacion_ccm/programacion_cmm.jpg"
					alt="" />
			</div>
			<div class="col-3">
				<img class="img-fluid"
					src="assets/img/productos/programacion_ccm/programacion_cmm.jpg"
					alt="" />
			</div>
			<div class="col-3">
				<img class="img-fluid"
					src="assets/img/productos/programacion_ccm/programacion_cmm.jpg"
					alt="" />
			</div>
		</div>
	</div>
	<div class="col-12 col-md-8">
		<div class="row">
			<img class="img-fluid"
				src="assets/img/productos/programacion_ccm/reporte1.png" alt="" />
		</div>
		<div class="row">
			<img class="img-fluid"
				src="assets/img/productos/programacion_ccm/reporte2.png" alt="" />
		</div>
	</div>
</div>
