<div class="row justify-content-center">
	<div class="col-10">
		<div class="row justify-content-center">
			<h1>{{'SOPORTE.Soporte'| translate}}</h1>
		</div>
		<div class="row text-justify">
			<p>{{'SOPORTE.IMT'| translate}}</p>
			<p>{{'SOPORTE.No importa'| translate}}</p>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 text-center">
				<div class="row">
					<ul class="list-unstyled">
						<li>{{'SOPORTE.Bajio'| translate}}</li>
						<li>Cel. 442 267 5831</li>
						<li>ventas@dttecchniques.com</li>
					</ul>
				</div>
				<div class="row">
					<ul class="list-unstyled">
						<li>{{'SOPORTE.Norte'| translate}}</li>
						<li>Cel. 844 100 1142</li>
						<li>ventas@dttecchniques.com</li>
					</ul>
				</div>
				<div class="row">
					<ul class="list-unstyled">
						<li>{{ "CONTACTO.Sur" | translate}}</li>
						<li>Cel. 222 332 4575</li>
						<li>ventas@dttecchniques.com</li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-6 text-center">
				<img src="assets/img/contacto/soporte.png" alt="" />
			</div>
		</div>

	</div>
</div>
