<div class="row justify-content-center">
	<h1>{{ "ACCESORIOS.Accesorios" | translate}}</h1>
</div>
<div class="row">
	<div class="col-12 col-md-6 text-justify">
		<p>{{ "ACCESORIOS.Ofrecemos" | translate}}</p>
		<p>{{ "ACCESORIOS.Pregunte" | translate}}</p>
	</div>
	<div class="col-12 col-md-6">
		<img class="img-fluid"
			src="assets/img/productos/accesorios/accesorios.jpg" alt="" />
	</div>
</div>
