h1{
  color:#f11610;
  font-size: rem-calc(22px);
  font-weight: bold;
}

img{
  padding-right: 30px;
}

.container{
  margin-top: 30px;
  @media only screen and (min-width: 40.063em) {
    min-height: 80vh;
  }
}

.business-partner{
    color:#f79956;
    margin-top: 10px;
    @media only screen and (min-width: 40.063em) {
      margin-top: 20vh;
    }
}

.servicios{
  padding-bottom: 80px;
}
