<div class="row container">
	<div class="col-12 col-md-6">
		<img class="img-fluid" src="assets/img/home/{{actualImage}}.jpg"
			alt="" />
	</div>
	<div class="col-12 col-md-6">
		<h1>{{'HOME.Experiencia' | translate}}</h1>
		<div class="text-justify">
			<p>{{'HOME.Industrial' | translate}}</p>
			<p>{{'HOME.Contamos' | translate}}</p>
		</div>
		<div class="row columns business-partner">
			<a href="http://www.gdandt.com/"> <img
				src="assets/img/home/agi.png" alt="" />
				<div class="text-center ">Business Partner</div>
			</a>
		</div>
	</div>


</div>

<div class="row servicios columns">
	<app-productos></app-productos>
</div>
