<div class="text-center">
	<br>
	<br>
	<br>
	<div class="row justify-content-center">
		<div class="col-8 text-center justify-content-center">
			<h2>{{ "MENSAJE.Envio" | translate}}</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-8 text-center justify-content-center">
			{{ "MENSAJE.En" | translate}}<br> {{ "MENSAJE.Cualquier" |
			translate}}
		</div>
	</div>
</div>
