input[required] {
    box-shadow:none !important;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

div{
  font-weight: bold;
}

.sebm-google-map-container {
  height: 80vh;
}
