<div class="row">
	<div class="col-12 col-md-4 text-center">
		<h1>{{ "CONTACTO.Contacto" | translate}}</h1>
		<div class="row justify-content-center">
			<ul class="list-unstyled">
				<li>{{ "CONTACTO.Bajio" | translate}}</li>
				<li>Cel. 442 267 5831</li>
				<li><a href="javascript:void(0)" (click)="open(content)">ventas@dttecchniques.com</a></li>
			</ul>
		</div>
		<div class="row justify-content-center">
			<ul class="list-unstyled">
				<li>{{ "CONTACTO.Norte" | translate}}</li>
				<li>Cel. 844 100 1142</li>
				<li><a href="javascript:void(0)" (click)="open(content)">ventas@dttecchniques.com</a></li>
			</ul>
		</div>
		<div class="row justify-content-center">
			<ul class="list-unstyled">
				<li>{{ "CONTACTO.Sur" | translate}}</li>
				<li>Cel. 222 332 4575</li>
				<li><a href="javascript:void(0)" (click)="open(content)">ventas@dttecchniques.com</a></li>
			</ul>
		</div>
		<div class="row justify-content-center">
			<img src="assets/img/contacto/soporte.png" alt="" />
		</div>
		<div class="row justify-content-center">
			<ul class="list-unstyled">
				<li>{{ "CONTACTO.Pagina" | translate}}</li>
				<li><a href="/">www.dttecchniques.com</a></li>
			</ul>
		</div>
	</div>

	<div class="col-12 col-md-8">
		<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"> <agm-marker
			*ngFor="let m of markers; let i = index"
			(markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
			[longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable"
			(dragEnd)="markerDragEnd(m, $event)"></agm-marker> </agm-map>
	</div>
</div>


<template ngbModalContainer #content let-c="close" let-d="dismiss">
<div class="modal-header">
	<h4 class="modal-title">{{ "CONTACTO.Envia" | translate}}</h4>
	<button type="button" class="close" aria-label="Close"
		(click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form class="" #contactoForm="ngForm">
		<div class="form-group">
			<label for="nombre">{{ "CONTACTO.Nombre" | translate}}</label> <input
				class="form-control" type="text" name="nombre" required
				[(ngModel)]="contacto.nombre">
		</div>
		<div class="form-group">
			<label for="compania">{{ "CONTACTO.Compania" | translate}}</label> <input
				class="form-control" type="text" name="compania" required
				[(ngModel)]="contacto.compania">
		</div>

		<div class="form-group">
			<label for="telefono">{{ "CONTACTO.Telefono" | translate}}</label> <input
				class="form-control" type="text" name="telefono" required
				[(ngModel)]="contacto.telefono">
		</div>

		<div class="form-group">
			<label for="correo">{{ "CONTACTO.Correo" | translate}}</label> <input
				class="form-control" type="text" name="correo" required
				[(ngModel)]="contacto.correo">
		</div>
		<div class="form-group">
			<label for="mensaje">{{ "CONTACTO.Mensaje" | translate}}</label> <input
				class="form-control" type="text" name="mensaje" required
				[(ngModel)]="contacto.mensaje">
		</div>


		<button [disabled]="!contactoForm.form.valid" type="button"
			(click)="submit()" class="btn btn-outline-primary">{{
			"SEMINARIOS.Enviar" | translate}}</button>
	</form>
</div>
</template>
