<div class="row columns justify-content-center">
	<h1>{{ "SEMINARIOS.Seminarios" | translate}}</h1>
</div>

<div class="row">
	<div class="col-2 offset-10">
		<a class="inscripciones" (click)="open(content)">{{
			"SEMINARIOS.Inscripciones" | translate}}</a>
	</div>
</div>

<div *ngFor="let seminario_row of seminarios" class="row">
	<div *ngIf="seminario_row.length == 1"
		class="col-12 col-md-4 offset-md-4">
		<h2>{{seminario.titulo}}</h2>
		<div class="row columns text-center">
			<img class="img-fluid" src="{{seminario.imagen}}" alt="" />
		</div>
		<div class="seminario">
			{{seminario.tipo}}<br> {{seminario.fecha}}<br>
			{{seminario.lugar}}<br>
		</div>
	</div>
	<div *ngIf="seminario_row.length == 2"
		class="col-12 col-md-4 offset-md-1">
		<h2>{{seminario_row[0].titulo}}</h2>
		<div class="row columns text-center">
			<img class="img-fluid" src="{{seminario_row[0].imagen}}" alt="" />
		</div>
		<div class="seminario">
			{{seminario_row[0].tipo}}<br> {{seminario_row[0].fecha}}<br>
			{{seminario_row[0].lugar}}<br>
		</div>
	</div>
	<div *ngIf="seminario_row.length == 2"
		class="col-12 col-md-4 offset-md-2">
		<h2>{{seminario_row[1].titulo}}</h2>
		<div class="row columns text-center">
			<img class="img-fluid" src="{{seminario_row[1].imagen}}" alt="" />
		</div>
		<div class="seminario">
			{{seminario_row[1].tipo}}<br> {{seminario_row[1].fecha}}<br>
			{{seminario_row[1].lugar}}<br>
		</div>
	</div>
	<div *ngIf="seminario_row.length == 3">
		<div *ngFor="let seminario of seminario_row" class="col-12 col-md-4">
			<h2>{{seminario.titulo}}</h2>
			<div class="row columns text-center">
				<img class="img-fluid" src="{{seminario.imagen}}" alt="" />
			</div>
			<div class="seminario">
				{{seminario.tipo}}<br> {{seminario.fecha}}<br>
				{{seminario.lugar}}<br>
			</div>
		</div>
	</div>

</div>


<template ngbModalContainer #content let-c="close" let-d="dismiss">
<div class="modal-header">
	<h4 class="modal-title">{{ "SEMINARIOS.Contactanos" | translate}}!</h4>
	<button type="button" class="close" aria-label="Close"
		(click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form class="" #contactoForm="ngForm">
		<div class="form-group">
			<label for="nombre">{{ "SEMINARIOS.Nombre" | translate}}</label> <input
				class="form-control" type="text" name="nombre" required
				[(ngModel)]="contacto.nombre">
		</div>
		<div class="form-group">
			<label for="compania">{{ "SEMINARIOS.Compania" | translate}}</label>
			<input class="form-control" type="text" name="compania" required
				[(ngModel)]="contacto.compania">
		</div>

		<div class="form-group">
			<label for="telefono">{{ "SEMINARIOS.Telefono" | translate}}</label>
			<input class="form-control" type="text" name="telefono" required
				[(ngModel)]="contacto.telefono">
		</div>

		<div class="form-group">
			<label for="correo">{{ "SEMINARIOS.Correo" | translate}}</label> <input
				class="form-control" type="text" name="correo" required
				[(ngModel)]="contacto.correo">
		</div>


		<div class="form-group">
			<label for="sede">{{ "SEMINARIOS.Sede" | translate}}</label> <select
				name="sede" class="form-control" required
				[(ngModel)]="contacto.sede">
				<option value="">-- {{ "SEMINARIOS.Selecciona" |
					translate}} --</option>
				<option value="Querétaro">Querétaro</option>
				<option value="Saltillo">Saltillo</option>
			</select>
		</div>

		<div class="form-group">
			<label for="seminario">{{ "SEMINARIOS.Seminario" |
				translate}}</label> <select class="form-control" required name="seminario"
				[(ngModel)]="contacto.seminario">
				<option value="">-- {{ "SEMINARIOS.Selecciona" |
					translate}} --</option>
				<option value="GD&T">GD&T</option>
				<option value="MSA">MSA</option>
				<option value="GD&T +MSA">GD&T +MSA</option>
			</select>
		</div>

		<button [disabled]="!contactoForm.form.valid" type="button"
			(click)="submit()" class="btn btn-outline-primary">{{
			"SEMINARIOS.Enviar" | translate}}</button>
	</form>
</div>
</template>
