input[required] {
    box-shadow:none !important;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.inscripciones{
  font-size: 19px;
  color: #FF0017 !important;
}

h2{
  font-weight: bold;
  font-size: 24px;
}

a{
  color: black;
}

.seminario{
  margin-top: 15px;
  font-weight: 17px;
  margin-bottom: 30px;
}

img{
  height: 220px;
}
