<div class="row justify-content-center">
	<div class="col-7 white">
		<h3>{{ "EXAMEN-CMM.TITULO" | translate}}</h3>
		<form class="" #contactoForm="ngForm">
			<div class="form-group">
				<label for="nombre">{{ "TUTORIALES.Nombre" | translate}}</label> <input
					class="form-control" type="text" name="nombre" required
					[(ngModel)]="examen.nombre">
			</div>

			<div class="form-group">
				<label for="telefono">{{ "TUTORIALES.Telefono" | translate}}</label>
				<input class="form-control" type="text" name="telefono" required
					[(ngModel)]="examen.telefono">
			</div>

			<div class="form-group">
				<label for="email">{{ "TUTORIALES.Correo" | translate}}</label> <input
					class="form-control" type="text" name="email" required
					[(ngModel)]="examen.email">
			</div>


			<label for="">{{ "EXAMEN-CMM.1.Q" | translate}}</label><br> <input
				type="radio" [(ngModel)]="examen.q1" name="Q1" value="1" />{{
			"EXAMEN-CMM.1.1" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q1" name="Q1" value="2" />{{ "EXAMEN-CMM.1.2" |
			translate}}<br /> <input type="radio" [(ngModel)]="examen.q1"
				name="Q1" value="3" />{{ "EXAMEN-CMM.1.3" | translate}}<br /> <input
				type="radio" [(ngModel)]="examen.q1" name="Q1" value="4" />{{
			"EXAMEN-CMM.1.4" | translate}}<br /> <label for="">{{
				"EXAMEN-CMM.2.Q" | translate}}</label><br> <input type="text"
				[(ngModel)]="examen.q2" name="Q2" value="1" /> <label for="">{{
				"EXAMEN-CMM.3.Q" | translate}}</label><br> <input type="radio"
				[(ngModel)]="examen.q3" name="Q3" value="1" />{{ "EXAMEN-CMM.3.1" |
			translate}}<br /> <input type="radio" [(ngModel)]="examen.q3"
				name="Q3" value="2" />{{ "EXAMEN-CMM.3.2" | translate}}<br /> <input
				type="radio" [(ngModel)]="examen.q3" name="Q3" value="3" />{{
			"EXAMEN-CMM.3.3" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q3" name="Q3" value="4" />{{ "EXAMEN-CMM.3.4" |
			translate}}<br /> <label for="">{{ "EXAMEN-CMM.4.Q" |
				translate}}</label><br> <input type="radio" [(ngModel)]="examen.q3"
				name="Q3" value="1" />{{ "EXAMEN-CMM.4.1" | translate}}<br /> <input
				type="radio" [(ngModel)]="examen.q3" name="Q3" value="2" />{{
			"EXAMEN-CMM.4.2" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q3" name="Q3" value="3" />{{ "EXAMEN-CMM.4.3" |
			translate}}<br /> <input type="radio" [(ngModel)]="examen.q3"
				name="Q3" value="4" />{{ "EXAMEN-CMM.4.4" | translate}}<br /> <label
				for="">{{ "EXAMEN-CMM.5.Q" | translate}}</label><br> <input
				type="text" [(ngModel)]="examen.q5" name="Q5" value="1" /> <label
				for="">{{ "EXAMEN-CMM.6" | translate}}</label><br> <input
				type="text" [(ngModel)]="examen.q6" name="Q6" value="1" /> <label
				for="">{{ "EXAMEN-CMM.7.Q" | translate}}</label><br> <input
				type="text" [(ngModel)]="examen.q7" name="Q7" value="1" /> <label
				for="">{{ "EXAMEN-CMM.8.Q" | translate}}</label><br> <input
				type="text" [(ngModel)]="examen.q8" name="Q8" value="1" /> <label
				for="">{{ "EXAMEN-CMM.9.Q" | translate}}</label><br> <input
				type="radio" [(ngModel)]="examen.q9" name="Q9" value="1" />{{
			"EXAMEN-CMM.9.1" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q9" name="Q9" value="2" />{{ "EXAMEN-CMM.9.2" |
			translate}}<br /> <input type="radio" [(ngModel)]="examen.q9"
				name="Q9" value="3" />{{ "EXAMEN-CMM.9.3" | translate}}<br /> <input
				type="radio" [(ngModel)]="examen.q9" name="Q9" value="4" />{{
			"EXAMEN-CMM.9.4" | translate}}<br /> <label for="">{{
				"EXAMEN-CMM.10.Q" | translate}}</label><br> <input type="text"
				[(ngModel)]="examen.q10" name="Q10" value="1" /> <label for="">{{
				"EXAMEN-CMM.11.Q" | translate}}</label><br> <input type="radio"
				[(ngModel)]="examen.q11" name="Q11" value="1" />{{
			"EXAMEN-CMM.11.1" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q11" name="Q11" value="2" />{{
			"EXAMEN-CMM.11.2" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q11" name="Q11" value="3" />{{
			"EXAMEN-CMM.11.3" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q11" name="Q11" value="3" />{{
			"EXAMEN-CMM.11.4" | translate}}<br /> <label for="">{{
				"EXAMEN-CMM.12.Q" | translate}}</label><br> <input type="text"
				[(ngModel)]="examen.q12" name="Q12" value="1" /> <label for="">{{
				"EXAMEN-CMM.13.Q" | translate}}</label><br> <input type="text"
				[(ngModel)]="examen.q13" name="Q13" value="1" /> <label for="">{{
				"EXAMEN-CMM.14.Q" | translate}}</label><br> <input type="radio"
				[(ngModel)]="examen.q14" name="Q14" value="1" />{{
			"EXAMEN-CMM.14.1" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q14" name="Q14" value="2" />{{
			"EXAMEN-CMM.14.2" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q14" name="Q14" value="3" />{{
			"EXAMEN-CMM.14.3" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q14" name="Q14" value="4" />{{
			"EXAMEN-CMM.14.4" | translate}}<br />


			<button [disabled]="!contactoForm.form.valid" type="button"
				(click)="upload()" class="btn btn-outline-primary">{{
				"SEMINARIOS.Enviar" | translate}}</button>
		</form>
	</div>
</div>
