<div class="text-center">
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-8 text-center justify-content-center">
			<h2>{{ "MENSAJE.examen" | translate}}</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-8 text-center justify-content-center">{{
			"MENSAJE.enviado" | translate}}</div>
	</div>
</div>
