nav{
  .brand{
    margin-right: 100px;
  }
  ul{
    margin-top: 20px;
  }
  li{

    .nav-link{
      margin-top: 10px;
      border-right: 2px solid #000;
      height: 45px;
    }
    .link-text{
      display:inline-block;
      vertical-align:middle;
      margin-top: -10px;
    }

    a{
      margin-top: -15px;
      padding-top: 15px;
      padding-bottom: 1;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 14px;

      &:hover{
        color: #000000;
      }

      &.active{
        color: #000000;
      }
    }
  }

  li:last-child{
    .nav-link{
      border-right: none;
    }
  }
}


.changeLanguage{
  font-size: 10px,
}


.title-bar-title{
  width: 160px;
  margin-left: 30vw;
}

nav{
  background: none;
}

.top-bar{

  @media only screen and (min-width: 40.063em) {


    .top-bar-title{
      padding-top: 15px;
      width:170px;
    }

    margin-left: 3vw;
    margin-right: 3vw;
    background: none;

    ul{
      background: none;
    }

    a{
      color: #6c6c7b;
    }

    .top-bar-right{
      margin-top: 40px;

      li{
        a{
          margin-top: -15px;
          padding-top: 15px;
          padding-bottom: 1;
          font-size: 14px;
          &:hover{
            color: #000000;
          }

          &.active{
            color: #000000;
          }
        }
        border-right: 2px solid #000;
      }

      li:last-child{
        border-right: none;
      }
    }
  }

}
