<div class="body container">
	<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#containerNavbarCenter"
			aria-controls="containerNavbarCenter" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-md-center"
			id="containerNavbarCenter">
			<ul class="navbar-nav">
				<li class="nav-item active brand"><a class="navbar-brand"
					href="#"> <img src="assets/img/logo.png" width="245"
						height="40" alt="">
				</a></li>
				<li class="nav-item"><a class="nav-link"
					[routerLink]="'/' | localize" routerLinkActive="active"><div
							class="link-text">{{'MENU.INICIO' | translate}}</div></a></li>
				<li class="nav-item"><a class="nav-link"
					[routerLink]="'/somos' | localize" routerLinkActive="active"><div
							class="link-text">{{'MENU.QUIENES' | translate}}</div></a></li>
				<li class="nav-item"><a class="nav-link"
					[routerLink]="'/contacto' | localize" routerLinkActive="active"><div
							class="link-text">{{'MENU.CONTACTO' | translate}}</div></a></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" id="dropdown05"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div
							class="link-text">{{'MENU.PRODUCTOS' | translate}}</div></a>
					<div class="dropdown-menu" aria-labelledby="dropdown05">
						<a class="dropdown-item"
							[routerLink]="'/productos/programacion-de-cmm' | localize">{{'MENU.PROGRAMACION'
							| translate}}</a> <a class="dropdown-item"
							[routerLink]="'/productos/soporte-en-sitio-y-remoto' | localize">{{'MENU.SOPORTE'
							| translate}}</a> <a class="dropdown-item"
							[routerLink]="'/productos/accesorios-mantenimiento-y-calibracion-de-cmm' | localize">{{'MENU.ACCESORIOS'
							| translate}}</a> <a class="dropdown-item"
							[routerLink]="'/productos/entrenamientos' | localize">{{'MENU.ENTRENAMIENTOS'
							| translate}}</a> <a class="dropdown-item"
							[routerLink]="'/productos/materiales-de-entrenamiento' | localize">{{'MENU.MATERIALES'
							| translate}}</a> <a class="dropdown-item"
							[routerLink]="'/productos/fabricacion-de-gages-funcionales' | localize"
							routerLinkActive="active">{{ "PRODUCTOS.Fabricacion" |
							translate}}</a>
					</div></li>

				<li class="nav-item"><a class="nav-link"
					[routerLink]="'/tutoriales' | localize" routerLinkActive="active"><div
							class="link-text">{{'MENU.TUTORIALES' | translate}}</div></a></li>

				<li class="nav-item"><a class="nav-link"
					[routerLink]="'/seminarios-publicos' | localize"
					routerLinkActive="active"><div class="link-text">
							{{'MENU.SEMINARIOS' | translate}}<br>{{'MENU.PUBLICOS' |
							translate}}
						</div></a></li>
				<li class="nav-item"><a class="nav-link"
					style="margin-left: 13px" (click)="changeLanguage()">
						<div class="link-text">
							<img width="45px" height="24px" src="{{image}}" alt="">
							<div class="row changeLanguage">{{changeText}}</div>
						</div>
				</a></li>
			</ul>
		</div>
	</nav>


	<div class="content">
		<router-outlet></router-outlet>
	</div>
</div>
