<div class="row jutify-content-center">
	<h1>{{ "MATERIALES.Materiales" | translate}}</h1>
</div>

<div class="row">
	<div class="col-12 col-md-3">
		<img class="img-fluid"
			src="assets/img/productos/materiales/materiales_entrenamiento-1.jpg"
			alt="" />
	</div>
	<div class="col-12 col-md-3">
		<img class="img-fluid"
			src="assets/img/productos/materiales/materiales_entrenamiento-2.jpg"
			alt="" />
	</div>
	<div class="col-12 col-md-3">
		<img class="img-fluid"
			src="assets/img/productos/materiales/materiales_entrenamiento-3.jpg"
			alt="" />
	</div>
	<div class="col-12 col-md-3">
		<img class="img-fluid"
			src="assets/img/productos/materiales/materiales_entrenamiento-4.jpg"
			alt="" />
	</div>
</div>

<div class="row jutify-content-center">
	<h3>{{ "MATERIALES.Tenemos" | translate}}</h3>
</div>
