
a{
  color: black;
}

h3{
  font-size: 17px;
  text-align: center;
}

.wrapper {
  margin-top: 45px;
  @media only screen and (min-width: 40.063em) {
    margin-top: 120px;
  }
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
	width: 110px;
	height: 80px;
	background: #5c9cd0;
	position: relative;

  img{
    width: 110px;
    height: 80px;
  }
}
.wrapper:before {
	content: "";
	position: absolute;
	top: -35px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-bottom: 35px solid #5c9cd0;
}
.wrapper:after {
	content: "";
	position: absolute;
	bottom: -35px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 35px solid #5c9cd0;
}
