<div class="row columns justify-content-center">
	<h1>{{ "PRODUCTOS.Productos" | translate}}</h1>
</div>
<div class="row productos">
	<div class="col-12 col-md-2">
		<a [routerLink]="'/productos/programacion-de-cmm' | localize"
			routerLinkActive="active">
			<div class="wrapper">
				<img src="assets/img/productos/programacion_cmm.jpg" alt="" />
			</div>
			<h3>{{ "PRODUCTOS.Programacion" | translate}}</h3>
		</a>
	</div>
	<div class="col-md-2">
		<a [routerLink]="'/productos/soporte-en-sitio-y-remoto' | localize"
			routerLinkActive="active">
			<div class="wrapper">
				<img src="assets/img/productos/soporte_en_sitio_y_remoto.png" alt="" />
			</div>
			<h3>{{ "PRODUCTOS.Soporte" | translate}}</h3>
		</a>
	</div>
	<div class="col-md-2">
		<a [routerLink]="'/productos/entrenamientos' | localize"
			routerLinkActive="active">
			<div class="wrapper">
				<img src="assets/img/productos/entrenamientos.jpg" alt="" />
			</div>
			<h3>{{ "PRODUCTOS.Entrenamientos" | translate}}</h3>
		</a>
	</div>
	<div class="col-md-2">
		<a [routerLink]="'/productos/materiales-de-entrenamiento' | localize"
			routerLinkActive="active">
			<div class="wrapper">
				<img src="assets/img/productos/materiales_de_entrenamiento.png"
					alt="" />
			</div>
			<h3>{{ "PRODUCTOS.Materiales" | translate}}</h3>
		</a>
	</div>
	<div class="col-md-2">
		<a
			[routerLink]="'/productos/accesorios-mantenimiento-y-calibracion-de-cmm' | localize"
			routerLinkActive="active">
			<div class="wrapper">
				<img src="assets/img/productos/accesorios.jpg" alt="" />
			</div>
			<h3>{{ "PRODUCTOS.Accesorios" | translate}}</h3>
		</a>
	</div>
	<div class="col-md-2">
		<a
			[routerLink]="'/productos/fabricacion-de-gages-funcionales' | localize"
			routerLinkActive="active">
			<div class="wrapper">
				<img src="assets/img/fabricacion_gages/gage1.jpg" alt="" />
			</div>
			<h3>{{ "PRODUCTOS.Fabricacion" | translate}}</h3>
		</a>
	</div>
</div>
