<div class="row justify-content-center">
	<h3>{{ "FABRICACION.Titulo" | translate}}</h3>
</div>
<div class="row">
	<div class="col-12 col-md-3">
		<img class="img-fluid" src="assets/img/fabricacion_gages/gage1.jpg"
			alt="" />
	</div>
	<div class="col-12 col-md-3">
		<img class="img-fluid" src="assets/img/fabricacion_gages/gage2.jpg"
			alt="" />
	</div>
	<div class="col-12 col-md-3">
		<img class="img-fluid" src="assets/img/fabricacion_gages/gage3.jpg"
			alt="" />
	</div>
	<div class="col-12 col-md-3">
		<img class="img-fluid" src="assets/img/fabricacion_gages/gage4.jpg"
			alt="" />
	</div>
</div>

<div class="row justify-content-center">
	<div class="col-9">
		<div class="row">
			<div class="col-12">{{ "FABRICACION.Contamos" | translate}}</div>
		</div>

		<div class="row">
			<div class="col-12">
				<p>{{ "FABRICACION.Disenamos" | translate}}</p>
				<ul>
					<li>{{ "FABRICACION.Tooling" | translate}}</li>
					<li>{{ "FABRICACION.Gages" | translate}}</li>
					<li>{{ "FABRICACION.Fixtures" | translate}}</li>
					<li>{{ "FABRICACION.Accesorios" | translate}}</li>
					<li>{{ "FABRICACION.Jigs" | translate}}</li>
				</ul>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-3">
				<a href="http://www.ceat.com.mx/"> <img
					src="assets/img/fabricacion_gages/ceat.jpg" alt="" />
					<div class="text-center ">Business Partner</div>
				</a>
			</div>
		</div>
	</div>
</div>
