<div class="row justify-content-center">
	<h1>{{ "ENTRENAMIENTOS.Entrenamientos" | translate}}</h1>
</div>

<div *ngFor="let entrenamientos_row of entrenamientos" class="row">

	<div *ngFor="let entrenamiento of entrenamientos_row"
		class="col-12 col-md-4" style="padding: 30px;">
		<a data-open="inscripcionesModal"
			(click)="setActual(entrenamiento,content)" target="_blank">
			<div class="row">
				<img class="img-fluid" src="{{entrenamiento.imagen}}" alt="" />
			</div>
			<div class="row justify-content-center">
				<span>{{entrenamiento.titulo}}</span>
			</div>
		</a>
	</div>
</div>

<br>

<template ngbModalContainer #content let-c="close" let-d="dismiss">
<div class="modal-header">
	<h4 class="modal-title">{{actualEntrenamiento.titulo}}</h4>
	<button type="button" class="close" aria-label="Close"
		(click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div [style.display]="!displayContacto?'inherit':'none'"
		class="row col-12">
		<h1>{{actualEntrenamiento.titulo}}</h1>
		<p>{{actualEntrenamiento.descripcion}}</p>
		<br>
		<div class="row text-center">
			<div class="col-6">
				<a href="{{actualEntrenamiento.link}}" type="button"
					(click)="upload()" class="btn btn-outline-primary"> {{
					"ENTRENAMIENTOS.Descargar" | translate}} </a>
			</div>
			<div class="col-6">
				<button type="button" (click)="displayContacto = true"
					class="btn btn-outline-primary">{{
					"ENTRENAMIENTOS.Solicitar" | translate}}</button>
			</div>
		</div>
	</div>
	<div [style.display]="displayContacto?'inherit':'none'" class="">
		<h1>{{ "CONTACTO.Envia" | translate}}</h1>
		<form class="" #contactoForm="ngForm">
			<div class="form-group">
				<label for="nombre">{{ "CONTACTO.Nombre" | translate}}</label> <input
					class="form-control" type="text" name="nombre" required
					[(ngModel)]="contacto.nombre">
			</div>
			<div class="form-group">
				<label for="compania">{{ "CONTACTO.Compania" | translate}}</label> <input
					class="form-control" type="text" name="compania" required
					[(ngModel)]="contacto.compania">
			</div>

			<div class="form-group">
				<label for="telefono">{{ "CONTACTO.Telefono" | translate}}</label> <input
					class="form-control" type="text" name="telefono" required
					[(ngModel)]="contacto.telefono">
			</div>

			<div class="form-group">
				<label for="correo">{{ "CONTACTO.Correo" | translate}}</label> <input
					class="form-control" type="text" name="correo" required
					[(ngModel)]="contacto.correo">
			</div>
			<div class="form-group">
				<label for="mensaje">{{ "CONTACTO.Mensaje" | translate}}</label> <input
					class="form-control" type="text" name="mensaje" required
					[(ngModel)]="contacto.mensaje">
			</div>

			<button [disabled]="!contactoForm.form.valid" type="button"
				(click)="upload()" class="btn btn-outline-primary">{{
				"SEMINARIOS.Enviar" | translate}}</button>
		</form>
	</div>
</div>
</template>
