<div class="row justify-content-center">
	<div class="col-9">
		<div class="row justify-content-center">
			<div class="text-center">
				<h2>{{'SOMOS.Mision'| translate}}</h2>
			</div>
			<p class="text-justify">{{'SOMOS.IMT Techniques'| translate}}</p>
		</div>

		<div class="row justify-content-center">
			<div class="text-center">
				<h2>{{'SOMOS.Vision'| translate}}</h2>
			</div>
			<p class="text-justify">{{'SOMOS.Al permitirnos'| translate}}</p>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-4">
				<img class="img-fluid" src="/assets/img/somos/somos.jpg" alt="">
			</div>
			<div class="col-sm-4">
				<img class="img-fluid" src="/assets/img/somos/asme.jpg" alt="">
			</div>
		</div>
	</div>
</div>
