<div class="row justify-content-center">
	<div class="col-7 white">
		<h3>{{ "EXAMEN-GDT.TITULO" | translate}}</h3>
		<form class="" #contactoForm="ngForm">
			<div class="form-group">
				<label for="nombre">{{ "TUTORIALES.Nombre" | translate}}</label> <input
					class="form-control" type="text" name="nombre" required
					[(ngModel)]="examen.nombre">
			</div>

			<div class="form-group">
				<label for="telefono">{{ "TUTORIALES.Telefono" | translate}}</label>
				<input class="form-control" type="text" name="telefono" required
					[(ngModel)]="examen.telefono">
			</div>

			<div class="form-group">
				<label for="email">{{ "TUTORIALES.Correo" | translate}}</label> <input
					class="form-control" type="text" name="email" required
					[(ngModel)]="examen.email">
			</div>



			<label for="">{{ "EXAMEN-GDT.1.Q" | translate}}</label><br> <input
				type="radio" [(ngModel)]="examen.q1" name="Q1" value="1" />{{
			"EXAMEN-GDT.1.1" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q1" name="Q1" value="2" />{{ "EXAMEN-GDT.1.2" |
			translate}}<br /> <input type="radio" [(ngModel)]="examen.q1"
				name="Q1" value="3" />{{ "EXAMEN-GDT.1.3" | translate}}<br /> <input
				type="radio" [(ngModel)]="examen.q1" name="Q1" value="4" />{{
			"EXAMEN-GDT.1.4" | translate}}<br /> <label for="">{{
				"EXAMEN-GDT.2.Q" | translate}}</label><br> <input type="radio"
				[(ngModel)]="examen.q2" name="Q2" value="1" />{{ "EXAMEN-GDT.2.1" |
			translate}}<br /> <input type="radio" [(ngModel)]="examen.q2"
				name="Q2" value="2" />{{ "EXAMEN-GDT.2.2" | translate}}<br /> <input
				type="radio" [(ngModel)]="examen.q2" name="Q2" value="3" />{{
			"EXAMEN-GDT.2.3" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q2" name="Q2" value="4" />{{ "EXAMEN-GDT.2.4" |
			translate}}<br /> <label for="">{{ "EXAMEN-GDT.3.Q" |
				translate}}</label><br> <input type="radio" [(ngModel)]="examen.q3"
				name="Q3" value="1" />{{ "EXAMEN-GDT.3.1" | translate}}<br /> <input
				type="radio" [(ngModel)]="examen.q3" name="Q3" value="2" />{{
			"EXAMEN-GDT.3.2" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q3" name="Q3" value="3" />{{ "EXAMEN-GDT.3.3" |
			translate}}<br /> <input type="radio" [(ngModel)]="examen.q3"
				name="Q3" value="4" />{{ "EXAMEN-GDT.3.4" | translate}}<br /> <label
				for="">{{ "EXAMEN-GDT.4.Q" | translate}}</label>
			<div class="row">
				<div class="col-12 col-md-2">
					<img class="img-fluid" style="width: 50px; heihgt: 50px;"
						src="/assets/img/examenes/0.png" alt="">
				</div>
				<div class="col\-12 col\-md\-10" style="padding\-top: 23px">
					<select class="" [(ngModel)]="examen.q4_1" name="Q4_1">
						<option *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</option>
					</select>
				</div>
			</div>


			<div class="row">
				<div class="col-12 col-md-2">
					<img class="img-fluid" style="width: 50px; heihgt: 50px;"
						src="/assets/img/examenes/1.png" alt="">
				</div>
				<div class="col\-12 col\-md\-10" style="padding\-top: 23px">
					<select class="" [(ngModel)]="examen.q4_2" name="Q4_2">
						<option *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</option>
					</select>
				</div>
			</div>




			<div class="row">
				<div class="col-12 col-md-2">
					<img class="img-fluid" style="width: 50px; heihgt: 50px;"
						src="/assets/img/examenes/2.png" alt="">
				</div>
				<div class="col\-12 col\-md\-10" style="padding\-top: 23px">
					<select class="" [(ngModel)]="examen.q4_3" name="Q4_3">
						<option *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</option>
					</select>
				</div>
			</div>


			<div class="row">
				<div class="col-12 col-md-2">
					<img class="img-fluid" style="width: 50px; heihgt: 50px;"
						src="/assets/img/examenes/3.png" alt="">
				</div>
				<div class="col\-12 col\-md\-10" style="padding\-top: 23px">
					<select class="" [(ngModel)]="examen.q4_4" name="Q4_4">
						<option *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</option>
					</select>
				</div>
			</div>


			<div class="row">
				<div class="col-12 col-md-2">
					<img class="img-fluid" style="width: 50px; heihgt: 50px;"
						src="/assets/img/examenes/4.png" alt="">
				</div>
				<div class="col\-12 col\-md\-10" style="padding\-top: 23px">
					<select class="" [(ngModel)]="examen.q4_5" name="Q4_5">
						<option *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</option>
					</select>
				</div>
			</div>


			<div class="row">
				<div class="col-12 col-md-2">
					<img class="img-fluid" style="width: 50px; heihgt: 50px;"
						src="/assets/img/examenes/5.png" alt="">
				</div>
				<div class="col\-12 col\-md\-10" style="padding\-top: 23px">
					<select class="" [(ngModel)]="examen.q4_6" name="Q4_6">
						<option *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</option>
					</select>
				</div>
			</div>



			<div class="row">
				<div class="col-12 col-md-2">
					<img class="img-fluid" style="width: 50px; heihgt: 50px;"
						src="/assets/img/examenes/6.png" alt="">
				</div>
				<div class="col\-12 col\-md\-10" style="padding\-top: 23px">
					<select class="" [(ngModel)]="examen.q4_7" name="Q4_7">
						<option *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</option>
					</select>
				</div>
			</div>



			<div class="row">
				<div class="col-12 col-md-2">
					<img class="img-fluid" style="width: 50px; heihgt: 50px;"
						src="/assets/img/examenes/7.png" alt="">
				</div>
				<div class="col\-12 col\-md\-10" style="padding\-top: 23px">
					<select class="" [(ngModel)]="examen.q4_8" name="Q4_8">
						<option *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</option>
					</select>
				</div>
			</div>



			<div class="row">
				<div class="col-12 col-md-2">
					<img class="img-fluid" style="width: 50px; heihgt: 50px;"
						src="/assets/img/examenes/8.png" alt="">
				</div>
				<div class="col\-12 col\-md\-10" style="padding\-top: 23px">
					<select class="" [(ngModel)]="examen.q4_9" name="Q4_9">
						<option *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</option>
					</select>
				</div>
			</div>


			<div class="row">
				<div class="col-12 col-md-2">
					<img class="img-fluid" style="width: 50px; heihgt: 50px;"
						src="/assets/img/examenes/9.png" alt="">
				</div>
				<div class="col\-12 col\-md\-10" style="padding\-top: 23px">
					<select class="" [(ngModel)]="examen.q4_10" name="Q4_10">
						<option *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</option>
					</select>
				</div>
			</div>


			<div class="row">
				<div class="col-12 col-md-2">
					<img class="img-fluid" style="width: 50px; heihgt: 50px;"
						src="/assets/img/examenes/10.png" alt="">
				</div>
				<div class="col\-12 col\-md\-10" style="padding\-top: 23px">
					<select class="" [(ngModel)]="examen.q4_11" name="Q4_11">
						<option *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</option>
					</select>
				</div>
			</div>



			<div class="row">
				<div class="col-12 col-md-2">
					<img class="img-fluid" style="width: 50px; heihgt: 50px;"
						src="/assets/img/examenes/11.png" alt="">
				</div>
				<div class="col\-12 col\-md\-10" style="padding\-top: 23px">
					<select class="" [(ngModel)]="examen.q4_12" name="Q4_12">
						<option *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</option>
					</select>
				</div>
			</div>



			<div class="row">
				<div class="col-12 col-md-2">
					<img class="img-fluid" style="width: 50px; heihgt: 50px;"
						src="/assets/img/examenes/12.png" alt="">
				</div>
				<div class="col\-12 col\-md\-10" style="padding\-top: 23px">
					<select class="" [(ngModel)]="examen.q4_13" name="Q4_13">
						<option *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-md-2">
					<img class="img-fluid" style="width: 50px; heihgt: 50px;"
						src="/assets/img/examenes/13.png" alt="">
				</div>
				<div class="col\-12 col\-md\-10" style="padding\-top: 23px">
					<select class="" [(ngModel)]="examen.q4_14" name="Q4_14">
						<option *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</option>
					</select>
				</div>
			</div>


			<label for="">{{ "EXAMEN-GDT.5.Q" | translate}}</label><br> <input
				type="radio" [(ngModel)]="examen.q5" name="Q5" value="1" />{{
			"EXAMEN-GDT.5.1" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q5" name="Q5" value="2" />{{ "EXAMEN-GDT.5.2" |
			translate}}<br /> <input type="radio" [(ngModel)]="examen.q5"
				name="Q5" value="3" />{{ "EXAMEN-GDT.5.3" | translate}}<br /> <input
				type="radio" [(ngModel)]="examen.q5" name="Q5" value="4" />{{
			"EXAMEN-GDT.5.4" | translate}}<br /> <label for="">{{
				"EXAMEN-GDT.6.Q" | translate}}</label><br> <input type="radio"
				[(ngModel)]="examen.q6" name="Q6" value="1" />{{ "EXAMEN-GDT.6.1" |
			translate}}<br /> <input type="radio" [(ngModel)]="examen.q6"
				name="Q6" value="2" />{{ "EXAMEN-GDT.6.2" | translate}}<br /> <input
				type="radio" [(ngModel)]="examen.q6" name="Q6" value="3" />{{
			"EXAMEN-GDT.6.3" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q6" name="Q6" value="4" />{{ "EXAMEN-GDT.6.4" |
			translate}}<br /> <label for="">{{ "EXAMEN-GDT.7.Q" |
				translate}}</label><br> <input type="radio" [(ngModel)]="examen.q7"
				name="Q7" value="1" />{{ "EXAMEN-GDT.7.1" | translate}}<br /> <input
				type="radio" [(ngModel)]="examen.q7" name="Q7" value="2" />{{
			"EXAMEN-GDT.7.2" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q7" name="Q7" value="3" />{{ "EXAMEN-GDT.7.3" |
			translate}}<br /> <input type="radio" [(ngModel)]="examen.q7"
				name="Q7" value="4" />{{ "EXAMEN-GDT.7.4" | translate}}<br /> <label
				for="">{{ "EXAMEN-GDT.8.Q" | translate}}</label><br> <img
				class="img-fluid" src="/assets/img/examenes/figure0.png" alt="">
			<input type="text" name="Q8" [(ngModel)]="examen.q8" /> <label for="">{{
				"EXAMEN-GDT.9.Q" | translate}}</label><br> <input type="radio"
				[(ngModel)]="examen.q9" name="Q9" value="1" />{{ "EXAMEN-GDT.9.1" |
			translate}}<br /> <input type="radio" [(ngModel)]="examen.q9"
				name="Q9" value="2" />{{ "EXAMEN-GDT.9.2" | translate}}<br /> <input
				type="radio" [(ngModel)]="examen.q9" name="Q9" value="3" />{{
			"EXAMEN-GDT.9.3" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q9" name="Q9" value="4" />{{ "EXAMEN-GDT.9.4" |
			translate}}<br /> <label for="">{{ "EXAMEN-GDT.10.Q" |
				translate}}</label><br> <input type="radio" [(ngModel)]="examen.q10"
				name="Q10" value="1" />{{ "EXAMEN-GDT.10.1" | translate}}<br /> <input
				type="radio" [(ngModel)]="examen.q10" name="Q10" value="2" />{{
			"EXAMEN-GDT.10.2" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q10" name="Q10" value="3" />{{
			"EXAMEN-GDT.10.3" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q10" name="Q10" value="4" />{{
			"EXAMEN-GDT.10.4" | translate}}<br /> <label for="">{{
				"EXAMEN-GDT.11.Q" | translate}}</label><br> <input type="radio"
				[(ngModel)]="examen.q11" name="Q11" value="1" />{{
			"EXAMEN-GDT.11.1" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q11" name="Q11" value="2" />{{
			"EXAMEN-GDT.11.2" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q11" name="Q11" value="3" />{{
			"EXAMEN-GDT.11.3" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q11" name="Q11" value="3" />{{
			"EXAMEN-GDT.11.4" | translate}}<br /> <img class="img-fluid"
				src="/assets/img/examenes/figure1.png" alt=""> <label for="">{{
				"EXAMEN-GDT.12.Q" | translate}}</label><br> <input type="radio"
				[(ngModel)]="examen.q12" name="Q12" value="1" />{{
			"EXAMEN-GDT.12.1" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q12" name="Q12" value="2" />{{
			"EXAMEN-GDT.12.2" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q12" name="Q12" value="3" />{{
			"EXAMEN-GDT.12.3" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q12" name="Q12" value="4" />{{
			"EXAMEN-GDT.12.4" | translate}}<br /> <label for="">{{
				"EXAMEN-GDT.13.Q" | translate}}</label><br> <input type="radio"
				[(ngModel)]="examen.q13" name="Q13" value="1" />{{
			"EXAMEN-GDT.13.1" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q13" name="Q13" value="2" />{{
			"EXAMEN-GDT.13.2" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q13" name="Q13" value="3" />{{
			"EXAMEN-GDT.13.3" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q13" name="Q13" value="3" />{{
			"EXAMEN-GDT.13.4" | translate}}<br /> <label for="">{{
				"EXAMEN-GDT.14.Q" | translate}}</label><br> <input type="radio"
				[(ngModel)]="examen.q14" name="Q14" value="1" />{{
			"EXAMEN-GDT.14.1" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q14" name="Q14" value="2" />{{
			"EXAMEN-GDT.14.2" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q14" name="Q14" value="3" />{{
			"EXAMEN-GDT.14.3" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q14" name="Q14" value="4" />{{
			"EXAMEN-GDT.14.4" | translate}}<br /> <label for="">{{
				"EXAMEN-GDT.15.Q" | translate}}</label><br> <input type="radio"
				[(ngModel)]="examen.q15" name="Q15" value="1" />{{
			"EXAMEN-GDT.15.1" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q15" name="Q15" value="2" />{{
			"EXAMEN-GDT.15.2" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q15" name="Q15" value="3" />{{
			"EXAMEN-GDT.15.3" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q15" name="Q15" value="3" />{{
			"EXAMEN-GDT.15.4" | translate}}<br /> <img class="img-fluid"
				src="/assets/img/examenes/figure2.png" alt=""> <label for="">{{
				"EXAMEN-GDT.16.Q" | translate}}</label><br> <input type="radio"
				[(ngModel)]="examen.q16" name="Q16" value="1" />{{
			"EXAMEN-GDT.16.1" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q16" name="Q16" value="2" />{{
			"EXAMEN-GDT.16.2" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q16" name="Q16" value="3" />{{
			"EXAMEN-GDT.16.3" | translate}}<br /> <input type="radio"
				[(ngModel)]="examen.q16" name="Q16" value="4" />{{
			"EXAMEN-GDT.16.4" | translate}}<br />


			<button [disabled]="!contactoForm.form.valid" type="button"
				(click)="upload()" class="btn btn-outline-primary">{{
				"SEMINARIOS.Enviar" | translate}}</button>
		</form>
	</div>
</div>
