<div class="row justify-content-center">
	<div class="col-10">
		<div class="row">
			<div class="justify-content-center">
				<h1>{{ "TUTORIALES.Tutoriales" | translate}}</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-md-7 text-justify">
				<div class="row">
					<iframe width="100%" height="315"
						src="https://www.youtube.com/embed/rhtha876oLk" frameborder="0"
						allowfullscreen></iframe>
				</div>
				<p>{{ "TUTORIALES.En esta" | translate}}</p>
				<p>{{ "TUTORIALES.Usted" | translate}}</p>

			</div>
			<div class="col-12 col-md-4 offset-md-1">
				<div class="row" style="margin-top: 20px">
					<a [routerLink]="'/examen/gdt' | localize">{{
						"TUTORIALES.QuizGdt" | translate}}</a>
				</div>
				<div class="row" style="margin-top: 20px">
					<a [routerLink]="'/examen/cmm' | localize">{{
						"TUTORIALES.QuizCmm" | translate}}</a>
				</div>
			</div>
		</div>

	</div>
</div>
