
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

h2{
  font-size: 25px;
}

a{
  color: #000000;
}


.blue{
  padding: 10px;
  background-color: #4C82B8;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
